<nz-select
  [class.ng-dirty]="cvcShowError"
  [nzPlaceHolder]="cvcPlaceholder"
  [formControl]="cvcFormControl"
  [formlyAttributes]="cvcFormlyAttributes"
  [nzOptions]="cvcOptions ? cvcOptions : []"
  [nzOptionHeightPx]="30"
  [nzMode]="cvcSelectMode"
  [nzDisabled]="cvcDisabled"
  [nzAllowClear]="cvcAllowClear"
  (ngModelChange)="
    cvcModelChange && cvcModelChange(cvcFormlyAttributes, $event)
  ">
<!-- <ng-container
    *ngFor="let item of cvcOptions">
    <nz-option
      [nzValue]="item.value"
      [nzLabel]="item.label"></nz-option>
  </ng-container> -->
</nz-select>
