@import 'themes/global-variables.less';

@helpIconSize: 14px;
:host {
  &.layout-inline {
    display: inline-block;
    margin-bottom: 6px;
  }
  &.layout-vertical {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 6px;
  }
}
// .cvc-field-label() {
//   ::ng-deep nz-form-label:first-of-type {
//     label {
//       // remove label's before/after content
//       &:before,
//       &:after {
//         content: none;
//       }
//       // embolden required labels
//       &.ant-form-item-required {
//         font-weight: bold;
//         &:before {
//           content: none;
//         }
//       }
//     }
//   }
// }
.cvc-field-label() {
  label {
    // remove label's before/after content
    &:before,
    &:after {
      content: none;
    }
    // embolden required labels
    &.ant-form-item-required {
      font-weight: bold;
      &:before {
        content: none;
      }
    }
  }
}

nz-form-item.layout-horizontal {
  // flex-wrap: nowrap;

  ::ng-deep nz-form-label:first-of-type {
    .cvc-field-label();
  }
  .help-tooltip {
    text-align: right;
    line-height: 26px;
    span.icon-tooltip {
      font-size: @helpIconSize;
      cursor: help;
    }
    span.icon-spacer {
      font-size: @helpIconSize;
      opacity: 0;
    }
  }
}

nz-form-item.layout-vertical {
  ::ng-deep nz-form-label:first-of-type {
    .cvc-field-label();
    span.icon-tooltip {
      margin-left: 6px;
      font-size: @helpIconSize;
      cursor: help;
    }
  }
  margin-bottom: 6px;
}
nz-form-item.layout-inline {
  ::ng-deep nz-form-label:first-of-type {
    .cvc-field-label();
    margin-right: 6px;
  }
}
