<nz-tag
  [nzMode]="cvcMode"
  (nzOnClose)="cvcOnClose.next($event)">
  <i
    *ngIf="typename else noIcon"
    nz-icon
    [nzType]="typename | typenameToIcon"
    nzTheme="twotone"
    [nzTwotoneColor]="typename | entityColor"></i>
  <ng-container *ngIf="entity else noEntity">
    <span [innerHtml]="entity.name | highlightTypeahead:cvcEmphasize"></span>
  </ng-container>
</nz-tag>
<ng-template #noIcon>
  <i
    nz-icon
    nzType="question-circle"
    nzTheme="outline"></i
></ng-template>
<ng-template #noEntity>?ENTITY?</ng-template>
