.description {
  margin-left: 4px;
  display: inline;
  ::ng-deep nz-tag {
    margin-right: 0;
  }
  .verbiage {
    padding: 0 4px;
  }
  .subject-type {
    margin-left: -4px;
  }
}

.organization {
  display: inline-block;
}
