<cvc-entity-tag
  *ngIf="tagCacheId$ | ngrxPush as cacheId"
  cvcMode="closeable"
  [cvcCacheId]="cacheId"
  (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>
<cvc-entity-select
  *ngIf="!(tagCacheId$ | ngrxPush)"
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcPlaceholder]="placeholder$"
  [cvcOnFocus]="onFocus$"
  [cvcOnSearch]="onSearch$"
  [cvcResults]="result$"
  [cvcShowError]="showError"
  [cvcDisabled]="props.requireGene && !(onGeneId$ | ngrxPush)"
  [cvcOptionExtra]="optionExtra"
  [cvcOptionTrackBy]="optionTrackBy"
  [cvcModelChange]="props.change">
</cvc-entity-select>

<!-- display list of aliases after tag -->
<ng-template
  #optionExtra
  let-item
  let-searchString="searchStr">
  <span
    nz-typography
    nzType="secondary">
    <ng-container *ngIf="item.variantAliases.length > 0">
      <em>
        <span
          nz-typography
          nzType="secondary"
          [innerHtml]="
            item.variantAliases.join(', ') | highlightTypeahead: searchString
          "></span
      ></em>
    </ng-container>
  </span>
</ng-template>
