<cvc-entity-tag
  *ngIf="tagCacheId$ | ngrxPush as cacheId"
  cvcMode="closeable"
  [cvcCacheId]="cacheId"
  (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>

<cvc-entity-select
  *ngIf="!(tagCacheId$ | ngrxPush)"
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcEntityName]="props.entityName"
  [cvcSelectMessages]="props.selectMessages"
  [cvcResults]="result$ | ngrxPush"
  [cvcPlaceholder]="(placeholder$ | ngrxPush)!"
  [cvcShowError]="showError"
  [cvcDisabled]="props.requireGene && !(onGeneId$ | ngrxPush)"
  [cvcLoading]="isLoading$ | ngrxPush"
  [cvcAddEntity]="props.requireGene ? addVariant : null"
  [cvcOptionExtra]="optionExtra"
  [cvcOptionTrackBy]="optionTrackBy"
  (cvcOnSearch)="onSearch$.next($event)"
  [cvcModelChange]="props.change">
</cvc-entity-select>

<!-- option extra tpl to display list of aliases after tag -->
<ng-template
  #optionExtra
  let-item
  let-searchString="searchStr">
  <span
    nz-typography
    nzType="secondary">
    <ng-container *ngIf="item.variantAliases.length > 0">
      <em>
        <span
          nz-typography
          nzType="secondary"
          [innerHtml]="
            item.variantAliases.join(', ') | highlightTypeahead: searchString
          "></span
      ></em>
    </ng-container>
  </span>
</ng-template>

<!-- add variant tpl, to display when no results found for query -->
<!-- TODO: include mutator, form config, onCreate fn to #addVariant template context -->
<ng-template
  #addVariant
  let-searchStr>
  <!-- TODO: implement a generic quick-add-form that takes args
  cvcAddMutator: MutatorWithState, cvcAddFormConfig: FormlyFormConfig, cvcAddOnCreate: EventEmitter -->
  <cvc-variant-quick-add-form
    [cvcSearchString]="searchStr"
    [cvcGeneId]="(onGeneId$ | ngrxPush)!"
    [cvcGeneName]="(onGeneName$ | ngrxPush)!"
    (cvcOnCreate)="onVariantCreate$.next($event)"></cvc-variant-quick-add-form>
</ng-template>
