<nz-card
  [nzTitle]="cvcFieldTitle + ' Debug Tools'"
  nzBordered="false"
  style="width: 100%">
  <nz-card-tab>
    <nz-tabset
      [(nzSelectedIndex)]="selectedIndex"
      nzSize="small">
      <nz-tab nzTitle="Model"> </nz-tab>
      <nz-tab nzTitle="Fields"></nz-tab>
      <nz-tab nzTitle="State"></nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <ng-container [ngSwitch]="selectedIndex">
    <ng-container *ngSwitchCase="0">
      <ngx-json-viewer [json]="cvcModel"></ngx-json-viewer>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <nz-list *ngIf="formControl as fc; else noFormControl">
        <nz-list-item *ngFor="let ctrl of fc.controls | keyvalue">
          {{ ctrl.key }}: {{ ctrl.value.value  }}
        </nz-list-item>
      </nz-list>
      <ng-template #noFormControl>
        No AbstractFormControl provided.
      </ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="2"> State Content </ng-container>
  </ng-container>
</nz-card>
