<cvc-entity-tag
  *ngIf="tagCacheId$ | ngrxPush as cacheId"
  [cvcCacheId]="cacheId"
  cvcMode="closeable"
  (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>
<nz-select
  *ngIf="!(tagCacheId$ | ngrxPush)"
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="showError"
  [nzPlaceHolder]="props.placeholder"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzOptionHeightPx]="28"
  (nzOnSearch)="onSearch$.next($event)"
  [nzLoading]="isLoading$ | ngrxPush"
  (ngModelChange)="props.change && props.change(field, $event)">
  <ng-container *ngrxLet="onSearch$ as searchString">
    <nz-option
      *ngFor="let item of result$ | ngrxPush; trackBy: optionTrackBy"
      nzCustomContent
      [nzValue]="item.id">
      <nz-space nzDirection="horizontal">
        <cvc-entity-tag
          *nzSpaceItem
          [cvcCacheId]="item.__typename + ':' + item.id"
          [cvcEmphasize]="searchString"></cvc-entity-tag>
        <span
          *nzSpaceItem
          nz-typography
          nzType="secondary">
          ID: {{ item.id }}
          <ng-container *ngIf="item.geneAliases.length > 0">
            <span>- Aliases:</span>

            <span
              [innerHtml]="
                item.geneAliases.join(', ') | highlightTypeahead: searchString
              "></span>
          </ng-container>
        </span>
      </nz-space>
    </nz-option>
  </ng-container>
</nz-select>
