<cvc-entity-tag
  *ngIf="(tagCacheId$ | ngrxPush) as cacheId"
  [cvcCacheId]="cacheId"
  cvcMode="closeable"
  (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>
<nz-select
  *ngIf="!(tagCacheId$ | ngrxPush)"
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="showError"
  [nzPlaceHolder]="props.placeholder"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzOptionHeightPx]="28"
  (ngModelChange)="onSelect$.next($event)"
  (nzOnSearch)="onSearch$.next($event)"
  (ngModelChange)="props.change && props.change(field, $event)">
  <ng-container *ngFor="let item of result$ | ngrxPush">
    <nz-option
      [nzValue]="item.id"
      [nzLabel]="item.name"></nz-option>
  </ng-container>
</nz-select>
