<nz-select
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="cvcShowError"
  [nzPlaceHolder]="(placeholder$ | ngrxPush)!"
  [formControl]="cvcFormControl"
  [formlyAttributes]="cvcFormlyAttributes"
  [nzOptionHeightPx]="30"
  [nzDisabled]="cvcDisabled"
  [nzLoading]="cvcLoading | ngrxPush"
  [nzAllowClear]="cvcAllowClear"
  (nzFocus)="cvcOnFocus.next()"
  (nzOnSearch)="onSearch$.next($event)"
  (ngModelChange)="
    cvcModelChange && cvcModelChange(cvcFormlyAttributes, $event)
  "
  [nzDropdownClassName]="'cvc-select-dropdown'">
  <ng-container *ngrxLet="onSearch$ as searchString">
    <ng-container *ngrxLet="cvcResults as results">
      <ng-container *ngFor="let item of cvcResults | ngrxPush">
        <nz-option
          nzCustomContent
          [nzValue]="item.id">
          <nz-space nzDirection="horizontal">
            <cvc-entity-tag
              *nzSpaceItem
              [cvcCacheId]="item.__typename + ':' + item.id"
              [cvcEmphasize]="searchString"></cvc-entity-tag>
            <ng-container
              *nzSpaceItem
              [ngTemplateOutlet]="cvcOptionExtra"
              [ngTemplateOutletContext]="{
                $implicit: item,
                searchStr: searchString
              }">
            </ng-container>
          </nz-space>
        </nz-option>
      </ng-container>
      <ng-template #notFound>
        <ng-container *ngIf="cvcLoading">
          <span
            nz-icon
            nzType="loading"
            class="loading-icon"></span>
          Searching...
        </ng-container>
        <!-- TODO: implement Subject to handle the following messages instead of all the messy template expressions -->
        <ng-container
          *ngIf="
            !cvcResults &&
            !cvcLoading &&
          searchString &&
            searchString.length < cvcSearchMinLength
          ">
          Enter at least {{ cvcSearchMinLength }} character{{
            cvcSearchMinLength > 1 ? 's' : ''
          }}
          to search.
        </ng-container>
        <ng-container *ngIf="results && results.length === 0">
          No {{ cvcEntityName }} found that matches "{{ searchString }}"
        </ng-container>
      </ng-template>
    </ng-container></ng-container
  >
</nz-select>
