<nz-select
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="cvcShowError"
  [nzPlaceHolder]="cvcPlaceholder"
  [formControl]="cvcFormControl"
  [formlyAttributes]="cvcFormlyAttributes"
  [nzOptionHeightPx]="30"
  [nzDisabled]="cvcDisabled"
  [nzLoading]="cvcLoading"
  [nzAllowClear]="cvcAllowClear"
  [nzNotFoundContent]="notFound"
  (nzFocus)="cvcOnFocus.next()"
  (nzOnSearch)="onSearch$.next($event)"
  (ngModelChange)="
    cvcModelChange && cvcModelChange(cvcFormlyAttributes, $event)
  "
  [nzDropdownClassName]="'cvc-select-dropdown'">
  <ng-container *ngrxLet="onSearch$ as searchString">
    <ng-container *ngFor="let item of cvcResults">
      <nz-option
        nzCustomContent
        [nzValue]="item.id">
        <nz-space nzDirection="horizontal">
          <cvc-entity-tag
            *nzSpaceItem
            [cvcCacheId]="item.__typename + ':' + item.id"
            [cvcEmphasize]="searchString"></cvc-entity-tag>
          <ng-container
            *nzSpaceItem
            [ngTemplateOutlet]="cvcOptionExtra"
            [ngTemplateOutletContext]="{
              $implicit: item,
              searchStr: searchString
            }">
          </ng-container>
        </nz-space>
      </nz-option>
    </ng-container>
  </ng-container>
</nz-select>
<ng-template #notFound>
  <ng-container *ngIf="loadingMessage$ | ngrxPush as loadingMsg">
    <span
      nz-icon
      nzType="loading"
      class="loading-icon"></span>
    {{ loadingMsg }}
  </ng-container>
  <ng-container *ngIf="focusMessage$ | ngrxPush as focusMsg">
    {{ focusMsg }}
  </ng-container>
  <ng-container *ngIf="notFoundMessage$ | ngrxPush as notFoundMsg">
    {{ notFoundMsg }}
  </ng-container>
</ng-template>
