<ng-template #customTemplate>
  <cvc-entity-tag
    *ngIf="tagCacheId$ | ngrxPush as cacheId"
    cvcMode="closeable"
    [cvcCacheId]="cacheId"
    (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>
</ng-template>
<cvc-entity-select
  [cvcCustomTemplate]="customTemplate"
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcEntityName]="props.entityName"
  [cvcSelectMessages]="props.selectMessages"
  [cvcResults]="result$ | ngrxPush"
  [cvcPlaceholder]="(placeholder$ | ngrxPush)!"
  [cvcShowError]="showError"
  [cvcDisabled]="!(onRequiresDrug$ | ngrxPush)"
  [cvcLoading]="isLoading$ | ngrxPush"
  [cvcAddEntity]="addDrug"
  [cvcOptionExtra]="optionExtra"
  [cvcOptionTrackBy]="optionTrackBy"
  (cvcOnSearch)="onSearch$.next($event)"
  [cvcModelChange]="props.change">
</cvc-entity-select>

<!-- option extra tpl to display list of aliases after tag -->
<ng-template
  #optionExtra
  let-item
  let-searchString="searchStr">
  <span
    nz-typography
    nzType="secondary">
    <ng-container *ngIf="item.drugAliases.length > 0">
      <em>
        <span
          nz-typography
          nzType="secondary"
          [innerHtml]="
            item.drugAliases.join(', ') | highlightTypeahead: searchString
          "></span
      ></em>
    </ng-container>
  </span>
</ng-template>

<!-- add drug tpl, to display when no results found for query -->
<ng-template
  #addDrug
  let-searchStr
  let-createMsg>
  <cvc-drug-quick-add-form
    [cvcSearchString]="searchStr"
    (cvcOnCreate)="onDrugCreate$.next($event)">
  </cvc-drug-quick-add-form>
</ng-template>
