<nz-select
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="showError"
  [nzMode]="'tags'"
  [nzPlaceHolder]="props.placeholder"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzOptionHeightPx]="30"
  [nzAutoClearSearchValue]="false"
  (nzOnSearch)="onSearch$.next($event)"
  [nzCustomTemplate]="selectedTemplate"
  [nzLoading]="isLoading$ | ngrxPush"
  (ngModelChange)="props.change && props.change(field, $event)">
  <ng-container *ngrxLet="onSearch$ as searchString">
    <ng-container
      *ngFor="let item of result$ | ngrxPush; trackBy: optionTrackBy">
      <nz-option
        nzCustomContent
        [nzValue]="item.id"
        [nzHide]="formControl.value.includes(item.id)">
        <cvc-entity-tag
          [cvcCacheId]="item.__typename + ':' + item.id"
          [cvcEmphasize]="searchString">
        </cvc-entity-tag>
        <span
          *ngIf="item.drugAliases.length > 0"
          nz-typography
          nzType="secondary" style="margin-left: 8px;">
          <em>
            <span
              nz-typography
              nzType="secondary"
              [innerHtml]="
                item.drugAliases.join(', ') | highlightTypeahead: searchString
              ">
            </span>
          </em>
        </span>
      </nz-option>
    </ng-container>
  </ng-container>
</nz-select>
<ng-template
  #selectedTemplate
  let-selected>
  <div class="ant-select-selection-item-content">
    <cvc-entity-tag
      [cvcCacheId]="'Drug:' + selected.nzValue"
      cvcContext="select-item"></cvc-entity-tag>
  </div>
</ng-template>
<!-- <ng-template #customTemplate>
  <cvc-entity-tag
    *ngIf="tagCacheId$ | ngrxPush as cacheId"
    cvcMode="closeable"
    [cvcCacheId]="cacheId"
    (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>
</ng-template> -->
<!-- <cvc-entity-select
  [cvcCustomTemplate]="customTemplate"
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcEntityName]="props.entityName"
  [cvcSelectMessages]="props.selectMessages"
  [cvcResults]="result$ | ngrxPush"
  [cvcPlaceholder]="(placeholder$ | ngrxPush)!"
  [cvcShowError]="showError"
  [cvcDisabled]="!(onRequiresDrug$ | ngrxPush)"
  [cvcLoading]="isLoading$ | ngrxPush"
  [cvcAddEntity]="addDrug"
  [cvcOptionExtra]="optionExtra"
  [cvcOptionTrackBy]="optionTrackBy"
  (cvcOnSearch)="onSearch$.next($event)"
  [cvcModelChange]="props.change">
</cvc-entity-select> -->

<!-- option extra tpl to display list of aliases after tag -->
<!-- <ng-template
  #optionExtra
  let-item
  let-searchString="searchStr">
  <span
    nz-typography
    nzType="secondary">
    <ng-container *ngIf="item.drugAliases.length > 0">
      <em>
        <span
          nz-typography
          nzType="secondary"
          [innerHtml]="
            item.drugAliases.join(', ') | highlightTypeahead: searchString
          "></span
      ></em>
    </ng-container>
  </span>
</ng-template> -->

<!-- add drug tpl, to display when no results found for query -->
<!-- <ng-template
  #addDrug
  let-searchStr
  let-createMsg>
  <cvc-drug-quick-add-form
    [cvcSearchString]="searchStr"
    (cvcOnCreate)="onDrugCreate$.next($event)">
  </cvc-drug-quick-add-form>
</ng-template> -->
