<nz-card
  cvcAutoHeightCard
  [cvcAutoHeightTarget]="fullPage ? 'page' : 'none'"
  [nzTitle]="cardTitle"
  [nzSize]="wrapperOptions.size ?? 'default'"
  [nzExtra]="showLegend ? legend : undefined"
  [nzActions]="fullPage ? [footerActions] : []">
  @for (field of bodyFields; track field) {
    <formly-field [field]="field"></formly-field>
  }
</nz-card>

<ng-template #cardTitle>
  @if (props.formInstructions) {
    <span
      class="card-instructions"
      nz-typography
      nzType="secondary"
      >{{ props.formInstructions }}</span
    >
  } @else {
    {{ wrapperOptions.title ?? '' }}
  }
</ng-template>

<ng-template #legend>
  <cvc-form-legend />
</ng-template>

<ng-template #footerActions>
  @for (field of footerFields; track field) {
    <formly-field [field]="field"></formly-field>
  }
</ng-template>
