<nz-card
  cvcAutoHeightCard
  [cvcAutoHeightTarget]="fullPage ? 'page' : 'none'"
  cvcScrollShadows
  [cvcScrollShadowTint]="entityColor"
  [class.full-page]="fullPage"
  [nzTitle]="cardTitle"
  [nzSize]="wrapperOptions.size ?? 'default'"
  [nzExtra]="showLegend ? legend : undefined"
  [nzActions]="fullPage ? [footerActions] : []">
  @if (props.formInstructions) {
    <p
      class="form-instructions"
      nz-typography
      nzType="secondary">
      {{ props.formInstructions }}
    </p>
  }
  @for (field of bodyFields; track field) {
    <formly-field [field]="field"></formly-field>
  }
</nz-card>

<ng-template #cardTitle>
  <span class="title-panel">
    @if (props.formTitle; as t) {
      <i
        nz-icon
        nzTheme="twotone"
        [nzTwotoneColor]="t.entityType | entityColor"
        [nzType]="t.icon"></i>
      <span
        class="title-text"
        [nz-tooltip]="t.subject ? t.action + ' ' + t.subject : null"
        >{{ t.action }} {{ t.subject ?? t.label }}</span
      >
    } @else {
      {{ wrapperOptions.title ?? '' }}
    }
  </span>
  <cvc-form-error-alert
    class="title-error-tag"
    variant="tag" />
</ng-template>

<ng-template #legend>
  <cvc-form-legend />
</ng-template>

<ng-template #footerActions>
  @for (field of footerFields; track field) {
    <formly-field [field]="field"></formly-field>
  }
</ng-template>
