<cvc-entity-tag
  *ngIf="tagCacheId$ | ngrxPush as cacheId"
  [cvcCacheId]="cacheId"
  cvcMode="closeable"
  (cvcOnClose)="onTagClose$.next($event)"></cvc-entity-tag>
<cvc-entity-select
  *ngIf="!(tagCacheId$ | ngrxPush)"
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcPlaceholder]="props.placeholder"
  (cvcOnFocus)="onFocus$.next()"
  [cvcOnSearch]="onSearch$"
  [cvcResults]="result$"
  [cvcShowError]="showError"
  [cvcDisabled]="props.disabled"
  [cvcLoading]="isLoading$"
  [cvcNotFound]="'No Genes Found'"
  [cvcOptionExtra]="optionExtra"
  [cvcOptionTrackBy]="optionTrackBy"
  [cvcModelChange]="props.change">
</cvc-entity-select>

<!-- display list of aliases after tag -->
<ng-template
  #optionExtra
  let-item
  let-searchString="searchStr">
  <span
    nz-typography
    nzType="secondary">
    <ng-container *ngIf="item.geneAliases.length > 0">
      <em>
        <span
          [innerHtml]="
            item.geneAliases.join(', ') | highlightTypeahead: searchString
          "></span
      ></em>
    </ng-container>
  </span>
</ng-template>
