@import 'themes/global-variables.less';

.form-group-grid {
    &.layout-block {
    ::ng-deep cvc-form-field-wrapper:first-of-type {
      display: block;
      background-color: lightgreen;
    }
  }
  &.layout-inline {
    ::ng-deep cvc-form-field-wrapper:first-of-type {
      display: block;
      background-color: lightblue;
    }
  }

}
