@import 'themes/global-variables.less';

.cvc-grid-config() {
  grid-template-columns: 1fr 1fr;
  gap: @margin-lg;
}

.field-grid {
  &.layout-grid {
    ::ng-deep formly-group:first-of-type {
      display: grid;
      .cvc-grid-config();
    }
  }
  &.layout-inline-grid {
    ::ng-deep formly-group:first-of-type {
      display: inline-grid;
      .cvc-grid-config();
    }
  }

  // ::ng-deep formly-group:first-of-type {
  //   display: grid;

  //   // border: 1px solid lightgreen;
  //   // formly-field {
  //   //   display: block;
  //   //   background-color: lightblue;
  //   // }
  // }
  // ::ng-deep formly-field {
  //   display: grid;
  //   background-color: lightgreen;
  // }
  // &.layout-block {
  //   ::ng-deep cvc-form-field-wrapper:first-of-type {
  //     display: block;
  //     background-color: lightgreen;
  //   }
  // }
  // &.layout-inline {
  //   ::ng-deep cvc-form-field-wrapper:first-of-type {
  //     display: inline-block;
  //     background-color: lightblue;
  //   }
  // }
}
